<div class="taotj-navbg">
    <div class="taotj-fixd" id="Fixed_left">
        <span class="ttj-fixd-tit">每日<b>9</b>点更新</span>
                    <span class="ttj-fixd-list">
                        {{leftbar getCategoryList curCategory}}
                    </span>
        <span class="boutique-recommend"><em></em>精品推荐</span>
                    <span class="ttj-fixd-link cfx">
                       <!-- <a href="" class="hover">九块九包邮</a>-->
                        <a href="/channel/1">9块9包邮</a>
                        <a href="/brand">品牌特卖</a>
                        <a href="/channel/3">超级降价</a>
                        <a href="/channel/2">20元封顶</a>
                        <em></em>
                    </span>
    </div>
</div>